__pycache__
.mypy_cache/
models/
checkpoint
samples/
dist-newstyle
bin
continuousphysics/
gridphysics/
learning/
proj_notes.txt
norm_train_data.npz
models.zip
/Users/matt/gpt-2/src/data/training_npzs/training_data.npz
.DS_Store
.idea/
src/data/training_npzs/training_data.npz
/Users/matt/gpt-2/proj_notes.txt
